{% extends 'layout.twig' %}

{% block title %}ERROR 404: Page not found{% endblock %}

{% block content %}

	<main class="font-lead lh-lead fw-100 mt4 mb5 pl3 pr3 w-100 mw-800-l mauto-l">
		<h1>Not Found</h1>
		<p>Sorry, but we did not find the page that you are looking for.</p>
	</main>
	
{% endblock %}